# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  deploy:

    runs-on: x64

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Build package
      run: python -m build

      
    - name: PyInstaller Windows
      # You may pin to the exact commit or the version.
      uses: JackMcKew/pyinstaller-action-windows@a8dee21ad01bbc7e7363d445bb632691b95ba057
      #uses: JackMcKew/pyinstaller-action-windows@v0.1.2
    # Directory containing source code (optional requirements.txt).
      path: src
    # Specify a custom URL for PYPI
      pypi_url: https://pypi.python.org/
    # Specify a custom URL for PYPI Index
      pypi_index_url: https://pypi.python.org/simple
    # Specify a file path for .spec file
        #spec: optional, default is 
    - name: pypi-publish
      run: twine upload -r testpypi dist/*
  # You may pin to the exact commit or the version.
  # uses: pypa/gh-action-pypi-publish@a56da0b891b3dc519c7ee3284aff1fad93cc8598
      uses: pypa/gh-action-pypi-publish@v1.8.6
      with: twine upload -r testpypi dist/*
    # PyPI user
      user: __token__
        # Password for your PyPI user or an access token
      password:   password = pypi-AgEIcHlwaS5vcmcCJDFjMGE2MWNiLWVmOTUtNGEzYy04MzM3LTlmZmVlMzcxNTNjMwACKlszLCIzMDZlMTg1YS0zMTFmLTQwOTQtYWIyMi01MTc2YjA5NDUyYTAiXQAABiBhkE_8JgnGpB8USF2rGuyBeFU1OgYjh1MYRs0qmISvPw
        # The repository URL to use
        #repository-url: # optional
        # [DEPRECATED] The repository URL to use
        #repository_url: https://upload.pypi.org/legacy/
        # The target directory for distribution
      packages-dir: src
       ## [DEPRECATED] The target directory for distribution
       #packages_dir: # optional, default is dist
       ## Check metadata before uploading
       #verify-metadata: # optional
       ## [DEPRECATED] Check metadata before uploading
       #verify_metadata: # optional, default is true
       ## Do not fail if a Python package distribution exists in the target package index
       #skip-existing: # optional
       ## [DEPRECATED] Do not fail if a Python package distribution exists in the target package index
       #skip_existing: # optional, default is false
       ## Show verbose output.
       #verbose: # optional, default is false
       ## Show hash values of files to be uploaded
       #print-hash: # optional
       ## [DEPRECATED] Show hash values of files to be uploaded
       #print_hash: # optional, default is false   
     
